<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceGateSoap" allowCookies="true" maxReceivedMessageSize="6553600" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BigCommerceDev/api/ServiceGate.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceGateSoap"
                contract="ServiceGateSoap.ServiceGateSoap" name="ServiceGateSoap" />
        </client>
    </system.serviceModel>
</configuration>